html,body, body > div {
  height: 100%;
}
.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.column {
  flex: 32%;
  height: 100%;
  background-color: lightblue;
}
.diviver {
  flex: 2%;
  height: 100%;
  background-color: black;
}