html,body, body > div {
  height: 100%;
}
body {
  margin: 0;
}
.diviver:before {
  position: absolute;
  cursor: col-resize;
  display: block;
  z-index: 1000;
  content: "";
  width: 3px;
  background-color: black;
  height: 100%;
}